h1{
    color: aliceblue;
    background-color: rgb(147, 18, 223);
    margin: 50px auto ;

}


.image{
    align-content: center;
    height: auto;
    width: auto;
    margin: 16px auto;
    border: 10px double black;
    
}